body{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(165, 146, 136);
}


nav{
    background-color: rgb(239, 136, 136);
    font-size: 25x;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(56, 232, 232);  
    position: fixed;
    top: 0;
    
}

nav li{
    display: inline-block;
    margin: 0 8px;  
     
}

nav a{
    text-decoration: none;
    

    
}

.logo{
    font-size: 36px;
    font-weight: bolder;
}

nav a:hover{
    color: aliceblue;    
}

.menu-line{
    height: 3px;
    width: 20px;
    background-color: beige;
    margin-bottom: 3px;
}

.menu{
    cursor: pointer;
    display: none;
}

@media all and (max-width:1276px){
    nav{
        flex-direction: column;
    }

    nav li{
        display: block;
        padding: 10px 0;
    }

    ul{
        text-align: center;
        padding: 0;
        display: none;
    }

    .logo{
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }

    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px

    }
    .showmenu{
        display: block;
    }

}




#Wrapper{
    background-color: rgb(178, 138, 170);
    height: 250px;
    width: 250px;
    margin:200px auto;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

h2{
    color: rgb(14, 12, 11);
    letter-spacing: 1px;
}

input{
    border-radius: 5px;
    border: 2px solid rgba(237, 41, 41, 0.884);
    margin-top: 50px;
    height: 2em;
    width: 150px;
    padding-left: 10px;

}

input:active{
    border: none;
}

button{
    margin-top: 20px;
    background-color: rgb(38, 208, 230);
    border-radius: 4px;
    height: 34px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: brown;
}

button:hover{
    cursor: pointer;
}


#Wrapper2{
    background-color: rgb(137, 164, 198);
    height: 250px;
    width: 250px;
    margin:200px auto;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}



#Wrapper3{
    background-color: rgb(156, 107, 118);
    height: 250px;
    width: 250px;
    margin:200px auto;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}


#Wrapper4{
    background-color: rgb(166, 205, 141);
    height: 350px;
    width: 450px;
    margin:200px auto;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}



#Wrapper5{
    background-color: rgb(241, 243, 148);
    height: 250px;
    width: 250px;
    margin:200px auto;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;

}
